
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

div {
  height: 500px;
}

p {
  color: #000;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 0;
  line-height: 40px;
  margin: 20px 50px;
}

header {
  background-color: #000;
  color: #FFF;
  width: 100%;
  position: fixed;
  z-index: 10;
}

ul {
  text-align: center;
  margin: 20px auto;
  padding: 0px;
}

li {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 50px;
}

.gray {
  background-color: #F2F2F2;
}

.white {
  background-color: #FFF;
}

.typer {
  font-size: 30px;
}

.title {
  font-size: 75px;
  padding: 20px 20px;
  font-weight: 500;
}

#name{
  color: #000000;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 4px;
  padding-top: 200px;
  padding-bottom: 50px;
  position: relative;
}

#intro {
  height: 800px;
  text-align: center;
  width: 100%;
}

#skills , #blinker{
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
